.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: var(--primary-color);
    color: #fff;
    gap: 16px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.header-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
    left: 16px;
}

.header h1 {
    font-size: 1.8rem;
    font-weight: bold;
}
