.footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin-top: 40px;
}
