.spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 4px solid var(--secondary-color);
    border-radius: 50%;
    border-top-color: var(--primary-color);
    animation: spin 1s linear infinite;
    margin: 40px auto;
    text-indent: -9999px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
